.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item {
    padding: 10px 0 !important;
}

.video-item.item img {
    max-width: 140px;
}